
    <%- include('partials/header.html') %>

    <section class="outras-noticias">
        <div>
            <h2>Busca</h2>
            <br><br>
            <div class="center">
                <div style="width: 100%;"class="mais-lidas">
                    <h3>33 resultados</h3>
                    <div class="mais-lidas-noticia-single">
                        <img src="/public/images/santos.jpg" alt="">
                        <div class="texto-mais-lidas-single">
                            <h4>Futebol</h4>
                            <p>Santos não ganha fora de casa</p>
                            <a href="/saiba-mais">Saiba Mais</a>
                        </div>
                    </div>
                    <div class="mais-lidas-noticia-single">
                        <img src="/public/images/santos.jpg" alt="">
                        <div class="texto-mais-lidas-single">
                            <h4>Futebol</h4>
                            <p>Santos não ganha fora de casa</p>
                            <a href="/saiba-mais">Saiba Mais</a>
                        </div>
                    </div>
                    <div class="mais-lidas-noticia-single">
                        <img src="/public/images/santos.jpg" alt="">
                        <div class="texto-mais-lidas-single">
                            <h4>Futebol</h4>
                            <p>Santos não ganha fora de casa</p>
                            <a href="/saiba-mais">Saiba Mais</a>
                        </div>
                    </div>
                    <div class="mais-lidas-noticia-single">
                        <img src="/public/images/santos.jpg" alt="">
                        <div class="texto-mais-lidas-single">
                            <h4>Futebol</h4>
                            <p>Santos não ganha fora de casa</p>
                            <a href="/saiba-mais">Saiba Mais</a>
                        </div>
                    </div>

                </div>
            
        </div>
    </section>
    <%- include('partials/footer.html') %>
</body>
</html>