
    <%- include('partials/header.html') %>
    <section class="noticia-destaque">
        <div class="center">
            <div class="img-destaque">
                <div class="overlay-destaque"></div>
                <div class="titulo-destaque-descricao">
                    <h2><%=  posts[0].titulo %></h2>
                    <p><%-  posts[0].conteudo %></p>
                </div>
                <img src="/public/images/landscape.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="outras-noticias">
        <div>
            <h2>Últimas notícias</h2>
            <br><br>
            <div class="center">
                <div class="ultimas">
                    <% for (let i = 1; i<posts.length; i++){ %>
                    <div class="box-ultimas-single">
                        <img src="/public/images/santos.jpg" alt="">
                        <div class="conteudo-noticia-single">
                        <h3><%=  posts[i].categoria %></h3>
                        <h2><%=  posts[i].titulo %></h2>
                        <p><%-  posts[i].conteudo %></p>
                        <a href="<%=  posts[0].slug %>">Saiba Mais</a>
                        </div>  
                    </div>
                    <% } %>
                </div>
                <div class="mais-lidas">
                    <h3>Mais lidas</h3>
                    <% for (let i = 0; i<posts.length; i++){ %>
                    <div class="mais-lidas-noticia-single">
                        <img src="/public/images/santos.jpg" alt="">
                        <div class="texto-mais-lidas-single">
                            <h4><%=  posts[i].categoria %></h4>
                            <p><%=  posts[i].titulo %></p>
                            <a href="<%=  posts[i].slug %>">Saiba Mais</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            
        </div>
    </section>
    <%- include('partials/footer.html') %>
</body>
</html>