<%- include('partials/header.html') %>
<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2>
                Time do santos joga muito bem
            </h2>
            <div class="autor-nome">
                <span>Nome do autor</span>
            </div>
            <p>O Santos FC encerrou a preparação para o duelo com o Unión La Calera, nesta quinta-feira (28), às 21h30 (de Brasília), no estádio Sausalito, em Viña del Mar (Chile), pela terceira rodada da fase de grupos da Conmebol Sul-Americana de 2022. Na tarde desta quarta (27), no CT do Everton-CHI, o técnico Fabián Bustos comandou a última atividade antes da partida.E para conseguir a vitória diante da equipe chilena, o Peixe se apega no ótimo retrospecto defensivo. Líder no Campeonato Brasileiro, o Alvinegro Praiano levou apenas um gol em três jogos. No último domingo (24), o Santos FC não foi vazado ao vencer o América-MG por 3 a 0, na Vila Belmiro.
O zagueiro Eduardo Bauermann comemorou o bom momento e destacou o entrosamento com o veterano Maicon na defesa santista.</p>
        </div>
        <div class="mais-lidas">
            <h3>Mais lidas</h3>
            <div class="mais-lidas-noticia-single">
                <img src="/public/images/santos.jpg" alt="">
                <div class="texto-mais-lidas-single">
                    <h4>Futebol</h4>
                    <p>Santos não ganha fora de casa</p>
                    <a href="/saiba-mais">Saiba Mais</a>
                </div>
            </div>
            <div class="mais-lidas-noticia-single">
                <img src="/public/images/santos.jpg" alt="">
                <div class="texto-mais-lidas-single">
                    <h4>Futebol</h4>
                    <p>Santos não ganha fora de casa</p>
                    <a href="/saiba-mais">Saiba Mais</a>
                </div>
            </div>
            <div class="mais-lidas-noticia-single">
                <img src="/public/images/santos.jpg" alt="">
                <div class="texto-mais-lidas-single">
                    <h4>Futebol</h4>
                    <p>Santos não ganha fora de casa</p>
                    <a href="/saiba-mais">Saiba Mais</a>
                </div>
            </div>
            <div class="mais-lidas-noticia-single">
                <img src="/public/images/santos.jpg" alt="">
                <div class="texto-mais-lidas-single">
                    <h4>Futebol</h4>
                    <p>Santos não ganha fora de casa</p>
                    <a href="/saiba-mais">Saiba Mais</a>
                </div>
            </div>

        </div>
    </div>
</section>
<%- include('partials/footer.html') %>

</body>
</html>